<!DOCTYPE html>
<html>
<title>Magic Tao</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
<!-- <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.w3-content {width:1000px;}
</style>

<body>

    <!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card-2" style="letter-spacing:4px;">
    <!-- <a href="#home" class="w3-bar-item w3-button">Magic Taomato @ Homepage</a> -->
    <a href="#home" class="w3-bar-item w3-button" style="letter-spacing:3px;">
        <b><i>The wind of Freedom blows!</i></b>
    </a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#research" class="w3-bar-item w3-button">Research</a>
      <a href="#teaching" class="w3-bar-item w3-button">Teaching</a>
      <a href="#about" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:1000px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">

    <div class="w3-col m6 w3-padding-large">
    </br></br>
    </br></br> 
<!--     </br></br> -->
<!--      <img src="w3images/Self3.jpeg" class="w3-round w3-image" alt="TaoSelfie" width="420" height="665">
     {{ url_for('static',filename="test3.jpg")}} -->
     <img src="{{url_for('static',filename='Self1_v1.jpg')}}" class="w3-round w3-image" alt="TaoSelfie" width="420" height="660">
     </br></br>
<!--      <div align="center">
        <a href="mailto:tao.ren@email.ucr.edu" style="text-decoration:none" target="_self">
          <i class="fa fa-envelope-square" style="font-size:35px;color:rgb(0, 255, 170)"></i>
        </a>
       <i class="ai ai-inspire-square" style="font-size:35px;color:rgb(0, 255, 170)"></i>
       <i class="ai ai-google-scholar-square" style="font-size:35px;color:rgb(0, 255, 170)"></i>
       <i class="fa fa-github-square" style="font-size:35px;color:rgb(0, 255, 170)"></i>
       <i class="fa fa-twitter-square" style="font-size:35px;color:rgb(0, 255, 170)"></i>
       <i class="fa fa-linkedin-square" style="font-size:35px;color:rgb(0, 255, 170)"></i>
     </div> -->
      <div align="center">
        <a href="mailto:tao.ren@email.ucr.edu" style="text-decoration:none" target="_self">
          <i class="fa fa-envelope-square" style="font-size:35px;color:rgb(102, 0, 255)"></i>
        </a>
        <a href="http://inspirehep.net/search?p=exactauthor%3ATao.Ren.1&sf=earliestdate" style="text-decoration:none" target="_blank">
          <i class="ai ai-inspire-square" style="font-size:35px;color:rgb(102, 0, 255)"></i>
        </a>
        <a href="https://scholar.google.com/citations?hl=en&user=GaJHXwkAAAAJ&sortby=pubdate&view_op=list_works&gmla=AJsN-F4YaDFiD16ES5WyMNofKO4mQrubxdmcWUgReV3xluBlaiZ7fwOCTMjgcXwyjHNRbA_wFc_G5k315Le3ZJZeDexsghAZyf_G8nbCE3zdHj4xxzr1rJ8" style="text-decoration:none" target="_blank">        
          <i class="ai ai-google-scholar-square" style="font-size:35px;color:rgb(102, 0, 255)"></i>
        </a>
        <a href="https://github.com/tao-physics" style="text-decoration:none" target="_blank">
          <i class="fa fa-github-square" style="font-size:35px;color:rgb(102, 0, 255)"></i>
        </a>
        <a href="https://twitter.com/MagicTaomato" style="text-decoration:none" target="_blank">
          <i class="fa fa-twitter-square" style="font-size:35px;color:rgb(102, 0, 255)"></i>
        </a>
        <a href="https://www.linkedin.com/in/tao-ren-196617aa/" style="text-decoration:none" target="_blank">
          <i class="fa fa-linkedin-square" style="font-size:35px;color:rgb(102, 0, 255)"></i>
        </a>
<!--        <i class='fab fa-kaggle' style='font-size:33px;color:rgb(102, 0, 255)'></i> -->
     </div>
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Tao Ren</h1>
      <p class="w3-large w3-justify">
        Hi! I am in a transition state of my career recently. I obtained my Ph.D. in Physics from the Department of Physics and Astronomy at University of California, Riverside in 2019, and collaborated with <a href="http://theory.ucr.edu" target="_blank">Hai-Bo Yu</a> (UCR) and <a href="http://theory.physics.uci.edu" target="_blank">Manoj Kaplinghat</a> (UCI). My research topic focuses on using a novel dark matter model, i.e. <b>Self-Interacting Dark Matter</b>, to explain the observational challenges in galaxies, and inversely using the astronomical data, such as the observed rotation curves, to study the nature of dark matter particles as well. I prefer to work in an interdisciplinary area for new ideas, questions and collaborations, to not only tackle the central problems but have a better understanding of each subject.
      </p>
<!--       <p class="w3-large w3-justify">
        Hi! I am a fifth year physics Ph.D. student in <a href="http://theory.ucr.edu" target="_blank">UCR particle theory group</a>. Prior to joining Google, I got my Ph.D. in Physics from University of California, Riverside in Spring 2019. After getting my B.S. degree in Applied Physics on metamaterial, I switched my research interests to the mystery of dark matter in the Universe and focus on the nature and different related aspects of <b>Self-Interacting Dark Matter</b>. I prefer to work in an interdisciplinary area for new ideas, questions and collaborations, to not only tackle the central problems but have a better understanding of each subject.
      </p> -->
<!--       <p class="w3-large w3-justify">In short, I used to be a condensed matter guy, then went to the particle theory group, began to study astrophysics ... LOL
      </p> -->
      <p class="w3-large w3-justify"> While not thinking about dark matter, I could be found in the swimming pool, on the climbing wall or beneath the barbell accompanied by audiobooks with various topics from finance to management, from Google to Sequoia, from the popular mind to economic history. Body, strength & brain building is making myself stronger, more powerful and knowledgeable. Algorithm and creative writing are two new interests to broaden my horizons lately. I am attempting to break out of my comfortable zone and looking forward to creating and delivering unique value.
      </p>
     <!--  <h4 class="w3-text-orange w3-huge">Interests Beyond Academics</h4>
      <table class="w3-table w3-centered w3-bordered w3-padding">
        <tr>
          <td>Swim</td>
          <td>Climbing</td>
          <td>Body & Strength Building</td>
        </tr>
        <tr>
          <td>Movies</td>
          <td>Concert</td>
          <td>Finance</td>
        </tr>
        <tr>
          <td>Algorithm Contests (New)</td>
          <td>Writing (New)</td>
          <td></td>
        </tr>
      </table> -->
<!--       <h4 class="w3-text-blue w3-huge">Contact</h4>
      <p class="w3-text-blue w3-large">Email: tao.ren AT email.ucr.edu</p> -->
      <p class="w3-large w3-text-blue">For more information, please refer to my <a href="{{url_for('static',filename='CV_TaoRen.pdf')}}" target="_blank">CV</a>.</p>
<!--       <div align="w3-left">
        <a href="mailto:tao.ren@email.ucr.edu" style="text-decoration:none" target="_self">
          <i class="fa fa-envelope-square" style="font-size:35px;color:rgb(0, 153, 255)"></i>
        </a>
       <i class="ai ai-inspire-square" style="font-size:35px;color:rgb(0, 153, 255)"></i>
       <i class="ai ai-google-scholar-square" style="font-size:35px;color:rgb(0, 153, 255)"></i>
       <i class="fa fa-github-square" style="font-size:35px;color:rgb(0, 153, 255)"></i>
       <i class="fa fa-twitter-square" style="font-size:35px;color:rgb(0, 153, 255)"></i>
       <i class="fa fa-linkedin-square" style="font-size:35px;color:rgb(0, 153, 255)"></i>
     </div> -->
    </div>

  </div>
  
  <hr>
  
  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="research">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Research</h1>
      <p class="w3-large w3-justify">
        Self-interacting dark matter (SIDM) was originally proposed with the purpose to solve small scale issues, which trouble the current prevailing lambda cold dark matter (&Lambda;CDM) paradigm a lot. It departs from the original CDM model mainly in the inner region of galaxies due to the self-interactions between dark matter particles with a light mediator. Because of this, my studies of macroscopic astrophysical systems like spiral and elliptical galaxies, may offer key information of microscopic dark matter particles. Once the self-interactions are confirmed, it would rule out many popular dark matter candidates like axions or neutralinos.
      </p>
      <p class="w3-large w3-justify">
        Since the Earth is following the rotation of Milky Way stellar disk and moving rapidly through the dark halo&mdash;a sea of dark matter particles, it is in principle possible to find signals from the "weak" interactions between dark matter particles and nuclei or electrons through mediators. If the mediator is much light than the dark matter particle, the event spectra is peaked towards low recoil energies different from WIMPs case. If the self-interaction is strong enough, dark matter bound states are probably to form in high energy colliders. This again offers new directions to seach. I am exploring the possibility of resolving these features in current and future experiments.
      </p>
      <p class="w3-large w3-justify">
        Besides what mentioned above, I am also interested in introducing new technology like machine learning to my research, due to the data informed feature for building and testing theories.
      </p> 
      <br>
      <p class="w3-large w3-justify">
        A more detailed version for non specialists (<a href="{{url_for('static',filename='Research.pdf')}}" target="_blank">pdf</a>).
      </p>
    </div>
    
    <div class="w3-col l6 w3-padding-large">
      <p>
        <img src="{{url_for('static',filename='research_mind_map.jpg')}}" class="w3-round w3-image" alt="research" width="500" height="750">
        <img src="{{url_for('static',filename='WebPicture.jpg')}}" class="w3-round w3-image" alt="research" width="500" height="750">
      </p>
    </div>
  </div>

  <div class="w3-row w3-padding" id="menu">
    <div class="w3-col m8 l12 w3-padding-large">
      <h3 class="w3-center">Publication</h3>
<!--       <p class="w3-justify">Tao Ren, Hai-Bo Yu, <i>“Re-examine Disk Stability in Self-interacting Dark Matter Halos”</i> (in&nbsp;preparation)</p> -->
<!--       <p class="w3-justify">Tao Ren, Hai-Bo Yu, Manoj Kaplinghat, <i>“A Tentative Application of Self-interacting Dark Matter to Early Type Galaxies”</i> (in&nbsp;preparation)</p>
      <p class="w3-justify">Tao Ren, Hai-Bo Yu, Manoj Kaplinghat, <i>“What Does MOND Tell Us in Self-interacting Dark Matter Language?”</i> (in&nbsp;preparation)</p>
      <p class="w3-justify">Tao Ren, Yuhsin Tsai, Tao Xu, Hai-Bo Yu, <i>“Search for Self-interacting Dark Matter Bound States at the LHC”</i> (in&nbsp;preparation)</p> -->
      <p class="w3-justify"><b>Tao Ren</b>, <i>"Testing Self-Interacting Dark Matter with Spiral and Early-Type Galaxies"</i>, 2019 (<a href="https://escholarship.org/uc/item/0g02d53r" target="_blank">pdf</a>, <a href="{{url_for('static',filename='Defense_slides.pdf')}}" target="_blank">slides</a>) Note: this is my dissertation.
      </p>
<!--       <p class="w3-justify"><b>Tao Ren</b>, <i>"Testing”</i>, 2019 (in preparation. Note: This work will be finalized by my collaborators.)
      </p> -->
      <p class="w3-justify">Manoj Kaplinghat, <b>Tao Ren</b>, Hai-Bo Yu, <i>"Dark Matter Cores and Cusps in Spiral Galaxies and their Explanations"</i>, arXiv:1911.00544, 2019 (<a href="https://arxiv.org/abs/1911.00544" target="_blank">pdf</a>)
      </p>

      <p class="w3-justify"><b>Tao Ren</b>, Anna Kwa, Manoj Kaplinghat, Hai-Bo Yu, <i>"Reconciling the Diversity and Uniformity of Galactic Rotation Curves with Self-Interacting Dark Matter"</i>, Physical Review X 9, no. 3: 031020, 2019 (<a href="https://journals.aps.org/prx/abstract/10.1103/PhysRevX.9.031020" target="_blank">pdf</a>)
<!--         <b>Tao Ren</b>, Anna Kwa, Manoj Kaplinghat, Hai-Bo Yu, <i>"Reconciling the Diversity and Uniformity of Galactic Rotation Curves with Self-Interacting Dark Matter"</i>, arXiv:1808.05695 [astro-ph.GA], 2018 (<a href="https://arxiv.org/abs/1808.05695" target="_blank">pdf</a>) Note: submitted to Physical Review X. -->
      </p>

      <p class="w3-justify">Jigang Hu, <b>Tao Ren</b>, Guanjun Wang, Weiqing Gao, Junxue Chen, Feng Gao, Hai Ming, <i>"Terminal interface effect in metal-dielectric multilayer"</i>, Proc. SPIE 9047, 2013 International Conference on Optical Instruments and Technology, doi: 10.1117/12.2037815, 2013 (<a href="https://www.spiedigitallibrary.org/conference-proceedings-of-spie/9047/1/Terminal-interface-effect-in-metal-dielectric-multilayer/10.1117/12.2037815.short" target="_blank">pdf</a>) 
      </p>
    </div>
  </div>


  <hr>

  <!-- Teaching Section -->
  <div class="w3-row w3-padding-64" id="teaching">

    <div class="w3-container w3-center w3-padding-large">
      <h1>Teaching</h1>
      <p>Work as a Teaching Assistant at University of California, Riverside</p>

      <table class="w3-table w3-centered w3-bordered w3-padding">
        <tr>
          <th>Quarter</th>
          <th>Class</th>
          <th>Instructor</th>
        </tr>
        <tr>
          <td>2019 Winter</td>
          <td>Space-time, Relativity, and Cosmology 007</td>
          <td>Prof. J. W. Gary</td>
        </tr>
        <tr>
          <td>2018 Fall</td>
          <td>Quantum Mechanics 156A</td>
          <td>Prof. Anson D'Aloisio</td>
        </tr>
        <tr>
          <td>2018 Summer</td>
          <td>General Physics Laboratory 40A</td>
          <td>Prof. Joshua C.H. Lui</td>
        </tr>
        <tr>
          <td>2018 Spring</td>
          <td>Introduction to Physics 41C (Optics, Relativity and Quantum Mechanics)</td>
          <td>Prof. Anson D'Aloisio/Owen Long</td>
        </tr>
        <tr>
          <td>2018 Winter</td>
          <td>Introduction to Physics 41B (Thermodynamics and Electromagnetism)</td>
          <td>Prof. Harry Tom</td>
        </tr>
        <tr>
          <td>2017 Fall</td>
          <td>Introduction to Physics 41A (Mechanics)</td>
          <td>Prof. Richard Seto</td>
        </tr>
        <tr>
          <td>2017 Spring</td>
          <td>Introduction to Physics 41C (Optics, Relativity  and Quantum Mechanics)</td>
          <td>Prof. Kirill Shtengel/Owen Long</td>
        </tr>
        <tr>
          <td>2017 Winter</td>
          <td>Introduction to Physics 41B (Thermodynamics and Electromagnetism)</td>
          <td>Prof. Harry Tom</td>
        </tr>
        <tr>
          <td>2016 Fall</td>
          <td>Introduction to Physics 41A (Mechanics)</td>
          <td>Prof. Richard Seto</td>
        </tr>
        <tr>
          <td>2016 Summer</td>
          <td>General Physics Discussion 002A</td>
          <td>Prof. Ward Beyermann</td>
        </tr>
        <tr>
          <td>2016 Spring</td>
          <td>General Physics Discussion 002A</td>
          <td>Prof. Robert Clare</td>
        </tr>
        <tr>
          <td>2016 Winter</td>
          <td>General Physics Laboratory 02LC</td>
          <td>Prof. Jory Yarmoff</td>
        </tr>
        <tr>
          <td>2015 Fall</td>
          <td>General Physics Laboratory 02LA</td>
          <td>Prof. Allen Mills</td>
        </tr>
        <tr>
          <td>2015 Spring</td>
          <td>General Physics Laboratory 02LC</td>
          <td>Prof. Jory Yarmoff</td>
        </tr>
        <tr>
          <td>2015 Winter</td>
          <td>General Physics Laboratory 02LB</td>
          <td>Prof. Jory Yarmoff</td>
        </tr>
        <tr>
          <td>2014 Fall</td>
          <td>General Physics Laboratory 02LA</td>
          <td>Prof. Jory Yarmoff</td>
        </tr>
      </table>
      <h4>Student Comments</h4>
      <p class="w3-justify">
        &sdot; YOU DA BOMB!!
      </p>
      <p class="w3-justify">
        &sdot; WE LOVE YOU TAO! You helped Physics 41A become an easier class!
      </p>
      <p class="w3-justify">
        &sdot; When I first entered UCR and had him in 41, lots of people liked Tao. However, I never really understood the love - despite his charm, I felt like he could occasionally be rude or misunderstand people when they said they didn’t get a topic. He was still a good TA, just not a perfect TA. Two years later, he’s actually, absolutely the best TA I’ve ever had at UCR, which is about as close to perfect as you can get. If you attend the discussion and make a good faith effort to be involved, you will learn a lot every time, and he puts special effort into making the students involved. It is clear that he cares, and for that I will give him high marks.
      </p>
      <p class="w3-justify">
        &sdot; Tao is awesome at explaining things! He draws everything out and makes sure you understand the material by asking follow-up questions. He strongly encourages students to participate during class discussions. Also available outside of office hours and happy to help us on any physics we are struggling with. Even math.
      </p>
      <p class="w3-justify">
        &sdot; Going to Tao's office hours helped me understand the concepts. Even though, I may not be the smartest student Tao demonstrates a great dedication to work with me on my difficulties. Meaning that he does not take weaknesses as a defeat, but as something to improve on. Also, the presentation on General Relativity was quite fascinating! Overall, Tao was an extremely helpful and encouraging tutor.
      </p>
      <br>
      <br>
  </div>

  <hr>

  <!-- Contact Section -->
<!--   <div class="w3-container w3-padding-64" id="contact">


  </div> -->
  
<!-- End page content -->
</div>

<!-- Footer -->

<footer class="w3-center w3-black w3-padding-14">
  <p>Copyright &copy; 2017-2019 Tao Ren &sdot; Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-blue">w3.css</a> &sdot; 11/05/2019
<!--   <a href='https://bachelorthesiswritingservice.com/'>BachelorThesisWritingService.com</a>  <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=4ce306f9a4cd6c7688efe80145d36eca6280ae70'></script>
  <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/596056/t/13"></script> unique visitors since Nov. 2019  -->
  </p>
</footer>

</body>

</html>
